*----------------------------------------------------*
* Configuration file for Operations Manager for z/VM
*----------------------------------------------------*
*
* If any files are changed on the config disk (OPMGRM1 198),
* run this action to reaccess the disk on all servers.  On an
* authorized user, enter: GOMCMD OPMGRM1 RUN ACTION ACC198
*
DefActn Name ACC198 +
  Command 'ACC 198 E' +
  Env LVM +
  NextActn ACC198S1
*
DefActn Name ACC198S1 +
  Command 'ACC 198 E' +
  Env OPMGRS1 +
  NextActn ACC198S2
*
DefActn Name ACC198S2 +
  Command 'ACC 198 E' +
  Env OPMGRS2 +
  NextActn ACC198S3
*
DefActn Name ACC198S3 +
  Command 'ACC 198 E' +
  Env OPMGRS3 +
  NextActn ACC198S4
*
DefActn Name ACC198S4 +
  Command 'ACC 198 E' +
  Env OPMGRS4
*
* If the TCPIP user is logged off for some reason, restart it.
*
DefEmon Name TCPSPY +
  Type 1 +
  User TCPIP +
  Action AUTOLOG1
*
* Action rouine to restart a monitored server
*
DefActn Name AUTOLOG1 +
  Delay 00:02 +
  Command 'CP XAUTOLOG &3' +
  Env SVM
*
* Close open console files once a day.
*
DefSchd Name CONCLOSE +
  When 00:02 +
  Action EXEC Parm CONCLOSE
*
* Run SFPURGER once a day to keep the spool cleaned up.
* Force this action to the S1 server - it puts log files on the A disk.
*
DefSchd Name SFPURGER +
  When 00:05 +
  Action EXEC Parm 'RUNSFPRG RUN' +
  Env OPMGRS1
*
* Monitor the spool and run an "SOS" cleanup if it is too full.
* Force this action to the S1 server - it puts log files on the A disk.
*
DefSMon Name SPOOLMON +
  Usage 085-100 Interval 10 Limit 1,30 +
  Action EXEC Parm 'RUNSFPRG SOS' +
  Env OPMGRS1
*
* If the RACFVM user is logged off, revert to local authorization.
* When it logs on again, enable RACF authorization again.
*
DefEmon Name RACFGONE Class 0 Type 1 User RACFVM Action RACGONE
DefEmon Name RACFBACK Class 0 Type 0 User RACFVM Action RACBACK
* RACFVM logged off, disable ESM auth
DefActn Name RACGONE +
   Command 'DEFOPTN ESM(N)' Env GOM
* RACFVM is back, enable ESM auth after 5 seconds
DefActn Name RACBACK +
   Delay 00:05 +
   Command 'DEFOPTN ESM Y AUTHCMD N' Env GOM
*
* Start RACFSMF once a day to maintain the SMF files
*
DefSchd Name RACFSMF +
  When 00:10 +
  Action EXEC Parm SMFSTART
*
* Run the SMF cleanup exec once a day to delete old files.
*
DefSchd Name SMFCLEAN +
  When 00:15 +
  Action EXEC Parm SMFCLNUP
*
* If an SMF log fills up, schedule the cleanup a bit later.
*
DefRule Name SMFFULL1 +
  Match 'RPISMF056I*' +
  User RACFVM +
  Action SMFFULLC
DefRule Name SMFFULL2 +
  Match 'RPISMF058I*' +
  User RACFVM +
  Action SMFFULLC
DefActn Name SMFFULLC +
  Delay 05:00 +
  NextActn SMFFULLR +
  Env SVM,Y +
  Command 'EXEC SMFCLNUP'
DefActn Name SMFFULLR +
  Delay 05:00 +
  Env LVM,Y +
  Command 'CP SEND CP OPERATOR SMSG RACFVM SMF RESTART'
*
* Set up Linux console password suppression
*
DefRule Name LNXPWD1 +
  Match 'Password:*' +
  Action SUPPW +
  SupNext 2
DefActn Name SUPPW +
  Input CRE
*
* Set up Linux console automation for CoreOS installer bug
*
DefRule Name OCPENT1 +
  Match '*Press Enter to continue.*' +
  Action CONSEND +
  Parm ' '
DefActn Name CONSEND +
  Command 'CP SEND &U &P' +
  Env LVM +
  Delay 00:01
*
* Generic actions to run execs or CP commands
*
DefActn Name EXEC +
  Command 'EXEC &P &U &T' +
  Env SVM,Y
DefActn Name CP +
  Command 'CP &P' +
  Env LVM,Y
*
* Consoles to Syslog for Loki
*
DefGroup Name SYSLOGRS Member OCP*
DefGroup Name SYSLOGRS Member ICIC*
DefGroup Name SYSLOGRS Member LX*
DefGroup Name SYSLOGRS Member OPERATOR
DefActn Name SYSLOG +
  Command 'EXEC SYSLOG2 VMCO &U &T' +
  Env SVM,Y
DefRule Name LOG2SL +
  Match '*' +
  Limit 0,0 +
  Group SYSLOGRS +
  Action SYSLOG
*
DefActn Name VMEV2SL +
  Command 'EXEC SYSLOG2 VMEV &5 &4 &3 &6 &7 &8 &9 &10 &11 &12 &13 &14 ' +
  Env SVM,Y
DefEmon Name VMEVENT +
  Action VMEV2SL
*
DefRule Name PDPTIME +
  Match '*influxdb*FCXMDX3003E*failed*' +
  User DATAPUMP +
  Action CONSCP +
  Parm 'IPL CMS PARM AUTOCR'
*
DefActn Name CONSCP  +
  Command 'CP SEND CP &U &P' +
  Env LVM +
  Delay 00:10
